<p-toast position="top-center" key="tc"></p-toast>
<br />
<div class="p-formgroup-inline search">
  <div class="p-field">
    <p-dropdown
      [options]="articleStatuses"
      [(ngModel)]="selectedArticleStatus"
      optionLabel="name"
      placeholder="Article Status"
    ></p-dropdown>
  </div>
  <button pButton type="button" label="Submit" (click)="search()"></button>
</div>
<h3 *ngIf="articles.length == 0" style="text-align: center">
  No articles found
</h3>
<p-card
  header="{{ article.articleName }}"
  *ngFor="let article of articles"
  [style]="{ width: '50%', 'margin-bottom': '2em', 'margin-left': '25%' }"
>
  <p>Article description: {{ article.description }}</p>

  <ng-template pTemplate="footer">
    <p-button
      *ngIf="article.status != 'FINISHED'"
      (click)="openConfirmDialog(article.id)"
      label="{{ statusDict.get(article.status) }}"
    ></p-button>
    <h3 *ngIf="article.status === 'FINISHED'">FINISHED</h3>
  </ng-template>
  <img
    src="{{
      article.image
        ? article.image
        : 'https://www.nicepng.com/png/detail/54-548349_food-png-icon-food-blue.png'
    }}"
    [alt]="article.articleName"
    width="150"
    height="150"
    style="float: right; position: relative; top: -110px"
    class="p-shadow-4"
  />
</p-card>

<p-dialog
  header="Input your personal pin to finish the action"
  [(visible)]="display"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-field">
    <input type="number" pInputText [(ngModel)]="employeePin" />
  </div>
  <ng-template pTemplate="footer">
    <p-button
      (click)="handleClose()"
      label="Cancel"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      id="submit-btn"
      [disabled]="employeePin === undefined"
      (click)="updateStatus()"
      label="Confirm"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
