<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-notification-bar #notifications></app-notification-bar>

  <div
    class="message-button-div"
    *ngIf="role !== 'ROLE_MANAGER' && role !== ''"
  >
    <i
      class="pi pi-comments hover"
      style="font-size: 3rem"
      (click)="notifications.openSidebar()"
    ></i>
  </div>
</div>
