<p-toast position="top-center" key="tc"></p-toast>
<h2>Employees</h2>
<div class="row">
  <div class="col card special1">
    <div class="p-formgroup-">
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Name:</label>
        <input type="text" id="employee-name" pInputText [(ngModel)]="employee.name"/>
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Surname:</label>
        <input type="text" pInputText id="employee-surname" [(ngModel)]="employee.surname" />
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Email:</label>
        <input type="text" pInputText id="employee-email" [(ngModel)]="employee.email" />
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Type:</label>
        <p-dropdown [options]="employeeTypes" [(ngModel)]="employeeType" optionLabel="name" placeholder='Select a type'>
        </p-dropdown>
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed"  style="width:100px">Salary:</label>
        <p-inputNumber [(ngModel)]="employee.salary" id="employee-salary" mode="currency" inputId="currency-germany" currency="EUR" locale="de-DE"></p-inputNumber>
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Pincode:</label>
        <p-inputNumber [(ngModel)]="employee.pincode" id="employee-pin" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"></p-inputNumber>
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Birthday:</label>
        <p-calendar [(ngModel)]="date1" ></p-calendar>
      </div>
      <div class="p-field p-grid">
        <span class="p-buttonset">
          <button pButton pRipple label="Create" [disabled]="!checkEmployeeValid()" id="create-button" class="p-button-success"
            (click)="createEmployee()"></button>
          <button pButton pRipple label="Update" [disabled]="selectedEmployee == null" id="update-button" (click)="updateEmployee()"></button>
          <button pButton pRipple label="Delete" [disabled]="selectedEmployee == null" id="delete-button" class="p-button-danger"
            (click)="deleteEmployee()"></button>
        </span>
      </div>
    </div>
  </div>
  <div class="col card special2">
    <div class="p-formgroup-inline search">
      <div class="p-field">
        <input type="text" pInputText [(ngModel)]="nameSearchParam" id="name-search" placeholder="Name" />
      </div>
      <div class="p-field">
        <input type="text" pInputText [(ngModel)]="surnameSearchParam" id="surname-search" placeholder="Surname" />
      </div>
      <div class="p-field">
        <input type="text" pInputText [(ngModel)]="emailSearchParam" id="email-search" placeholder="Email" />
      </div>
      <div class="p-field">
        <p-calendar [(ngModel)]="dateFrom" placeholder="Birthday from"></p-calendar>
      </div>
      <div class="p-field">
        <p-calendar [(ngModel)]="dateTo" placeholder="Birthday to"></p-calendar>
      </div>
      <div class="p-field">
        <button pButton type="button" label="Submit" (click)="search()" id="search-button"></button>
      </div>
    </div>

    <p-table selectionMode="single" [value]="employees" [(selection)]="selectedEmployee" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Role</th>
          <th>Salary</th>
          <th>Pincode</th>
          <th>Birthday</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr [pSelectableRowDblClick]="employee" (dblclick)="mapToEmployee(employee)">
          <td>{{ employee.name }}</td>
          <td>{{ employee.surname }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.employeeType }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.pincode }}</td>
          <td>{{formatToDate(employee.birthday)}}</td>
        </tr>
        <ng-template pTemplate="paginatorleft"> </ng-template>
        <ng-template pTemplate="paginatorright"> </ng-template>
      </ng-template>
    </p-table>


    <!-- <p-table selectionMode="single" [value]="employees" [(selection)]="selectedEmployee" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Role</th>
          <th>Salary</th>
          <th>Pincode</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr [pSelectableRow]="employee" (click)="foo(employee)">
          <td>{{ employee.name }}</td>
          <td>{{ employee.surname }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.employeeType }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.pincode }}</td>
        </tr>
        <ng-template pTemplate="paginatorleft"> </ng-template>
        <ng-template pTemplate="paginatorright"> </ng-template>
      </ng-template>
    </p-table> -->
  </div>
</div>
