<p-toast position="top-center" key="tc"></p-toast>
<h2>Employees</h2>
<div class="row">
  <div class="col card special1">
    <div class="p-formgroup-">
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Name:</label>
        <input type="text" pInputText [(ngModel)]="nameInput" value="{{selectedEmployee.name}}" />
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Surname:</label>
        <input type="text" pInputText [(ngModel)]="surnameInput" value={{selectedEmployee.surname}} />
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Email:</label>
        <input type="text" pInputText [(ngModel)]="emailInput" value={{selectedEmployee.email}} />
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Type:</label>
        <p-dropdown
          [options]="employeeTypes"
          [(ngModel)]="typeInput"
          optionLabel="name"
          placeholder='Select a type'
        ></p-dropdown>
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Salary:</label>
        <input type="text" pInputText [(ngModel)]="salaryInput" value={{selectedEmployee.salary}} />
      </div>
      <div class="p-field p-grid">
        <label styleClass="p-col-fixed" style="width:100px">Pincode:</label>
        <input type="text" pInputText [(ngModel)]="pincodeInput" value={{selectedEmployee.pincode}} />
      </div>
      <div class="p-field p-grid">
        <span class="p-buttonset">
          <button pButton pRipple label="Create" [disabled]="isDataValid()" class="p-button-success" (click)="createEmployee()"></button>
          <button pButton pRipple label="Update" [disabled]="isSelected()" (click)="updateEmployee()"></button>
          <button pButton pRipple label="Delete" [disabled]="isSelected()" class="p-button-danger" (click)="deleteEmployee()"></button>
        </span>
      </div>
    </div>
  </div>
  <div class="col card special2">
    <p-table 
      selectionMode="single" 
      [value]="employees" 
      [(selection)]="selectedEmployee"     
      [paginator]="true"
      [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Role</th>
          <th>Salary</th>
          <th>Pincode</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr [pSelectableRow]="employee">
          <td>{{ employee.name }}</td>
          <td>{{ employee.surname }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.employeeType }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.pincode }}</td>
        </tr>
        <ng-template pTemplate="paginatorleft"> </ng-template>
        <ng-template pTemplate="paginatorright"> </ng-template>
      </ng-template>
    </p-table>
  </div>
</div>